loc_name=Alsting, Forbach-Boulay-Moselle
lat=49.179304
lon=7.000394
msl=255
timezone=Europe/Paris
offset=+01:00
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=0
units_windspeed=0
units_precipitation=0
units_altitude=0
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid
show_scrollbox=false
scrollbox_lines=1
scrollbox_color=rgba(0,0,0,0)
scrollbox_use_color=false
label0=3
label1=7
label2=5

