show_frame=true
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%H:%M
font0=Noto Sans 8
data1=%d.%m.%Y
font1=Noto Sans 8
tooltip=%A, %d. %B %Y (KW %V)
hib_timing=false

